.done
{
  text-decoration: line-through;
}

footer
{
  margin-top: 0 !important;
}

#faq
{
  border-left: solid 1px lightgrey;
  border-right: solid 1px lightgrey;
  border-top: 0 !important;
  margin: 0 20vw;
  padding: 20px;
}

#faq a
{
  color: blue;
  text-decoration: none;
}

#faq a:hover
{
  color: orange;
}

#faq em
{
  font-weight: bold;
}

#faq h1
{
  font-size: 28px;
  text-align: center;
}

#faq h2
{
  font-size: 20px;
  margin-top: 40px;
}

#faq h3
{
  color: #6A7BCA;
  font-size: 16px;
  margin-top: 40px;
}

.long_list *
{
  margin-left: 20px;
}

.portrait
{
  float: right;
  height: auto;
  padding-left: 20px;
  width: 150px;
}
