body
{
  background-color: #FFFDF0;
  font-family: 'Mali', cursive;
  margin: 0px;
}

a
{
  text-decoration: none;
}

h1
{
  font-family: 'Lobster Two',cursive;
}

h2
{
  font-family: 'Lobster Two',cursive;
  font-size: 24px;
}


/* ================== NAV ================== */
#arts_caption
{
  padding-left: 25px;
}

#daily_life_caption
{
  position: relative;
  left: -40px;
}

div[class~="grey_border"]
{
  border-bottom: solid lightgrey 1px;
}

figcaption
{
  color: #6A7BCA;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  padding-left: 10px;
}

figure.submenu_table_title
{
  display: table-caption;
  padding-left: 80px;
}

figure.submenu_table_title figcaption
{
  position: relative;
  left: -16px;
}

figure.submenu_choice
{
  display: table-cell;
  padding: 20px 0;
}

img.icon
{
  max-width: 40px;
  height: auto;
}

img.icon_couple
{
  display: inline;
  max-width: 40px;
  height: auto;
}

img.icon_loner
{
  max-width: 40px;
  height: auto;
  padding-left: 20px;
}

#mainframe
{
  display: table;
}

nav
{
  display: table-cell;
  min-width: 300px;
  height: auto;
  border-right: solid lightgrey 1px;
}

nav div
{
  padding-bottom: 50px;
  width: 270px;
}

nav div h2
{
  padding-left: 70px;
}

#newsfeed
{
  color: #6A7BCA;
  display: table-cell;
  text-align: center;
  width: calc(100vw - 300px);
}

#sciences_caption
{
  padding-left: 12px;
}

.submenu_table
{
  display: table;
  padding-left: 30px;
}

.submenu_row
{
  display: table-row;
}


/* ================== HEADER ================== */

header
{
  background-color: #acb6e5;
  border-bottom: outset;
  border-color: #6A7BCA;
  color: #FFFDF0;
  padding : 40px;
}

header > h1
{
  display: block;
  position: relative;
  text-align: center;
}


/* ================== CONTENT ================== */

article
{
  min-height: calc(100vh - 101px);
  border-top: solid lightgrey 1px;
}

article h1
{
  color: #6A7BCA;
}

.storyboard
{
  width: 500px;
  height: auto;
  margin-left: calc(100vw - 950px);
  background-color: white;
  border-radius: 25px;
  padding: 50px 50px 50px 50px;
}

/* ================== FOOTER ================== */
footer
{
  clear: both;
  position: relative;
  top: 30px;
  padding: 30px 0 30px 20px;
  background-color: #acb6e5;
  border-top: inset;
  border-color: #6A7BCA;
}

li
{
  list-style: circle;
}


/* ================== Palette  ================== */

/*#FFEAB7*/
/*#FFF6E7*/
/*#BFAAE5;
#FFFDF0;body
#acb6e5;header*/
