/*

Note to contributors:

Order this CSS code based on this method:

1. Divid several css elements according to the structure of what you're styling
   Ex. This Nav bar is composed of submenus, those submenus are composed of expand/collapse
       arrows, headers and rows of buttons. These rows of buttons are composed of... Etc.

2. Organise those categories and inside those categories according to the alphabetical
   order.

3. Always pick up explicit names for your classes, ids, etc.

4. Comment the scope of your various css styles, what they are for,
   why you chose this solution, who you are and I can contact you

Any code which doesn't these rules may be discarded.

Thank you very much for your interest in this project! I look forward working with you!

See you!

Florian L.
*/



/* ********************************************************** */
/* /!\/!\/!\ SCOPE: GLOBAL STRUCTURE OF THE NAV BAR /!\/!\/!\ */
/* ********************************************************** */


/* ======================== BUTTONS ======================== */

/* ~~~~~~~~ Concerns expand/collapse arrow ~~~~~~~~ */

.expand_collapse_arrow
{
  height: 24px;
  left: 275px;
  margin: 0 0 0 0;
  position: relative;
  width: 24px;
}


/* ~~~~~~~~ Concerns thematic buttons ~~~~~~~~ */

.button
{
  height: 68px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  padding: 8px 8px 5px 8px;
  width: 85.5px;
}

/* Submenu button picture(s) .icon is always followed by a .icon_couple */
.icon
{
  height: auto;
  max-width: 40px;
}

.icon_couple
{
  display: inline;
  height: auto;
  max-width: 40px;
}

/* If there's a single picture for the button, use .icon_loner */
.icon_loner
{
  height: auto;
  max-width: 40px;
  padding-left: 25px;
}


/* ========================== NAV BAR ======================== */

/* Concerns all captions under icons in the nav bar */
.button figcaption, .submenu_header figcaption
{
  color: #6A7BCA;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  padding-left: 10px;
}

.caption_specific_adjustment
{
  padding-left: 0;
  white-space: pre;
}

nav
{
  border-right: solid lightgrey 1px;
  display: table-cell;
  height: auto;
  min-width: 300px;
}


/* ====================== SUBMENU BODY ====================== */

/* Horizontal grey_border, doesn't concern arts submenu */
div[class~="grey_border"]
{
  border-bottom: solid lightgrey 1px;
}

/* Concerns daily_life and arts submenus, are collapsed by default */
div[class~="default_collapse"]
{
  display: none;
}

nav div
{
  padding-bottom: 10px;
}

.submenu_row
{
  display: grid;
  grid-template-columns: 149px 150px;
  grid-template-rows: 100px;
}


/* ===================== SUBMENU HEADER ===================== */

figure.submenu_header
{
  padding-left: 90px;
}

figure.submenu_header figcaption
{
  position: relative;
  left: -19px;
}




/* ******************************************************************* */
/* /!\/!\/!\ SCOPE: SPECIFIC TO SOME SUBMENUS OF THE NAV BAR /!\/!\/!\ */
/* ******************************************************************* */


/* =================== SCIENCES SUBMENU =================== */

#sciences_caption
{
  padding-left: 12px;
}

/* ================== DAILY LIFE SUBMENU ================== */

#daily_life_caption
{
  position: relative;
  left: -40px;
}

/* ===================== ARTS SUBMENU ===================== */

#arts_caption
{
  padding-left: 25px;
}
