@import url(./home_header.css) screen;
@import url(./home_nav_bar.css) screen;
@import url(./home_newsfeed.css) screen;

body
{
  background-color: #FFFFFF;
  font-family: 'Mali', cursive;
  margin: 0px;
}

a
{
  text-decoration: none;
}

h1, h2, h3
{
  font-family: 'Lobster Two',cursive;
}

h2
{
  font-size: 24px;
}

h3
{
  font-size: 18px;
}


/* ================== HEADER ================== */

header
{
  background-color: #acb6e5;
  border-bottom: outset;
  border-color: #6A7BCA;
  color: #FFFDF0;
  padding : 40px;
}

header > h1
{
  display: block;
  position: relative;
  text-align: center;
}


/* ================== CONTENT ================== */

article
{
  min-height: calc(100vh - 101px);
  border-top: solid lightgrey 1px;
}

article h1, article h2
{
  color: #6A7BCA;
}

.storyboard
{
  width: 500px;
  height: auto;
  margin-left: calc(100vw - 950px);
  background-color: white;
  border-radius: 25px;
  padding: 50px 50px 50px 50px;
}

/* ================== FOOTER ================== */
footer
{
  clear: both;
  position: relative;
  top: 30px;
  padding: 30px 0 30px 20px;
  background-color: #acb6e5;
  border-top: inset;
  border-color: #6A7BCA;
}

li
{
  list-style: circle;
}


/* ================== Palette  ================== */

/*#FFEAB7*/
/*#FFF6E7*/
/*#BFAAE5;
#FFFDF0;body
#acb6e5;header*/
