/* ************************************************** */
/* /!\/!\/!\ SCOPE: STRUCTURE OF ANY LESSON /!\/!\/!\ */
/* ************************************************** */
body
{
  margin: 0;
}

#core_services_container
{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  min-height: 80vh;
}

.home_icon
{
  float: right;
  height: auto;
  margin: 2px 4px;
  padding: 4px 4px;
  width: 30px;
}

h1, h2, h3, h4, h5, h6
{
  font-family: "Lobster Two", cursive;
}

h2, h3, h4, h5, h6
{
  color: #6A7BCA;
}

li
{
  list-style: disc;
}


/* =================================== HEADER  =================================== */




/* ====================== TOP NAV BAR (Chapter navigation)  ====================== */
#chapter_navigation
{
  border-bottom: solid 1px lightgrey;
  width: 100%;
}

#chapter_navigation h3
{
  padding-top: 10px;
  padding-left: 10px;
  min-width: 200px;
  max-width: 250px;
}


#chapter_nav_bar
{
  align-items: center;
  display: grid;
  grid-template-columns: minmax(200px, 10vw) minmax(200px, 87vw);
  grid-template-rows: 50px;
  justify-content: left;
  padding-left: 5px;
}

#chapter_nav_bar a
{
  color: #6A7BCA;
}

#chapter_nav_bar a:hover
{
  color: orange;
}

.chapter_bar_header
{
  position: relative;
  top: 6px;
}

.chapter_bar_row
{
  display: grid;
  margin-bottom: 9px;
  text-align: center;
}

.chapter_bar_cell
{
  background-color: lightgrey;
  border: solid 1px grey;
  height: 20px;
  cursor: pointer;
  width: 40px;
}

.chapter_bar_cell *
{
  display: none;
}

.chapter_bar_cell:hover
{
  background-color: orange;
}

.chapter_bar_cell:hover *
{
  display: inline-block;
}

.chapter_cell_title
{
  font-family: arial;
  margin: 0;
}


/* ====================== LEFT NAV BAR (Lesson navigation) ======================= */
#lesson, #lesson_navigation
{
  border-right: solid 1px lightgrey;
}

#lesson a, #lesson_navigation a
{
  color: blue;
  text-decoration: none;
}

#lesson a:hover, #lesson_navigation a:hover
{
  color: orange;
}

.lesson_nav_bar_title
{
  color: #6A7BCA;
  font-family: "Lobster Two", cursive;
  font-size: 24px;
}

.plan_container
{
  margin: 5px 10px 10px;
  min-width: 130px;
  overflow-x: hidden;
  padding: 0 5px 5px;
  position: sticky;
  top: 0;
}

.plan_container ul li
{
  padding: 2px 0;
}


/* ==================================== LESSON =================================== */
.biblio_link
{
  bottom: 10px;
  font-size: 14px;
  position: relative;
}

.diagram
{
  display: block;
  margin: 0 auto;
}

.graph
{
  display: block;
  margin: 0 auto;
}

#lesson
{
  padding: 0 20px;
}

#lesson article
{
  padding: 10px 0 40px 0;
}

#lesson article p, #lesson ul li
{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

#lesson_contextual_information
{
  border: solid 1px lightgrey;
  border-radius: 10px;
  display: block;
  font-family: "Mali", sans-serif;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.lesson_main_title
{
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
}

.notice
{
  border: solid 1px lightgrey;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  margin: 25px 0 0;
  padding: 20px;
}

.notice p
{
  font-size: 14px !important;
}

.notice h6
{
  color: #6A7BCA;
  font-family: "Lobster Two", sans-serif;
  font-size: 14px;
  margin: 0 0 10px;
}

.pdf_icon
{
  float: right;
  height: auto;
  padding: 5px;
  width: 30px;
}

.portrait
{
  float: right;
  height: auto;
  width: 150px;
}

#pre_requisites
{
  border: solid 1px lightgrey;
  margin: 65px 0 45px 0;
  max-width: 500px;
  padding: 0 25px 0 15px;
  text-decoration: none;
  width: fit-content;
}


.previous_lesson_button
{
  border: solid 1px lightgrey;
  border-radius: 10px;
  color: #6A7BCA !important;
  float: left;
  font-family: "Lobster Two", sans-serif;
  height: 60px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.previous_lesson_button:hover
{
  background-color: #6A7BCA;
  color: #FFFFFF !important;
  cursor: pointer;
  transition: 0.5s;
}

.previous_lesson_button img
{
  float: left;
  height: 20px;
  width: 20px;
}

.next_lesson_button
{
  border: solid 1px lightgrey;
  border-radius: 10px;
  color: #6A7BCA !important;
  float: right;
  font-family: "Lobster Two", sans-serif;
  height: 60px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.next_lesson_button:hover
{
  background-color: #6A7BCA;
  color: #FFFFFF !important;
  cursor: pointer;
  transition: 0.5s;
}

.next_lesson_button:active
{
  box-shadow: 0px 5px 20px -10px rgba(0,0,0,1) inset;
}

.next_lesson_button img
{
  float: right;
  height: 20px;
  width: 20px;
}

.youtube_video
{
  display: block;
  margin: 0 auto;
}

/* =============================== RIGHT USER TOOLS ============================== */
.user_toolbar_button
{
  display: block;
  border-bottom: solid 1px lightgrey;
  height: 80px;
  text-align: center;
  text-decoration: none;
}

.user_toolbar_button:hover
{
  background-color: orange;
  cursor: pointer;
  transition: 0.5s;
}

.user_toolbar_button h2
{
  margin-top: 0;
  position: relative;
  top: 24px;
}


.user_toolbar_button_subchoices
{
  display: none;
  border-bottom: solid 1px lightgrey;
  border-left: solid 1px lightgrey;
  height: 80px;
  margin-left: 40px;
  text-align: center;
  text-decoration: none;
}

.user_toolbar_button_subchoices:hover
{
  background-color: orange;
  cursor: pointer;
  transition: 0.5s;
}

.user_toolbar_button_subchoices h3
{
  margin-top: 0;
  position: relative;
  top: 24px;
}


/* =================================== FOOTER ==================================== */
footer
{
  font-family: "Mali", sans-serif;
  margin-top: 0 !important;
}

footer h6
{
  color: initial;
  font-family: "Mali", sans-serif;
}
