/* ********************************************************* */
/* /!\/!\/!\ SCOPE: GLOBAL STRUCTURE OF THE FOOTER /!\/!\/!\ */
/* ********************************************************* */


/* ======================== FOOTER CONTAINER ======================== */

footer
{
  background-color: #acb6e5;
  border-top: inset;
  border-color: #6A7BCA;
  margin-top: 30px;
  padding: 30px 0 10px 20px;
  position: relative;
}

footer h6
{
  margin: 0;
  text-decoration: underline;
}


/* ========================= FOOTER CONTENT ========================= */
#footer_buttons
{
  position: absolute;
  left: 82%;
  bottom: 25px;
  width: fit-content;
}

#footer_buttons *
{
  display: inline;
  height: auto;
  padding: 5px;
  width: 40px;
}

.footer_hyperbutton_image
{
  background-color: #FFFFFF;
  border-radius: 5px;
  bottom: 10px;
  height: auto;
  padding: 10px;
  position: relative;
  width: 60px;
}

footer li
{
  list-style: circle;
}




/* .fb_footer_hyperbutton
{
}


.fb_footer_hyperbutton_image
{
  border-radius: 5px;
  bottom: 80px;
  height: auto;
  left: 90%;
  padding: 10px;
  position: relative;
  width: 60px;
}

.footer_hyperbutton
{
}

 */
