/* ********************************************************** */
/* /!\/!\/!\ SCOPE: GLOBAL STRUCTURE OF THE NAV BAR /!\/!\/!\ */
/* ********************************************************** */


/* ======================== BUTTONS ======================== */

/* ~~~~~~~~ Concerns expand/collapse arrow ~~~~~~~~ */

.expand_collapse_arrow
{
  height: 24px;
  left: 275px;
  margin: 0 0 0 0;
  position: relative;
  width: 24px;
}


/* ~~~~~~~~ Concerns thematic buttons ~~~~~~~~ */
*[class~="unavailable"]
{
  filter: blur(2px);
}

.button
{
  height: 68px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  padding: 8px 8px 5px 8px;
  width: 86px;
}

.custom_button
{
  height: fit-content;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  padding: 8px 8px 5px 8px;
  max-width: 86px;
  word-break: keep-all;
}

.hyperbutton
{
  height: 68px;
  margin: 16px 20px;
  padding: 8px 8px 5px 8px;
  width: 86px;
}

.hyperbutton figure
{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* Submenu button picture(s) .icon is always followed by a .icon_couple */
.icon
{
  height: auto;
  max-width: 40px;
}

.icon_couple
{
  display: inline;
  height: auto;
  max-width: 40px;
}

/* If there's a single picture for the button, use .icon_loner */
.icon_loner
{
  height: auto;
  max-width: 40px;
  padding-left: 24px;
}


/* ~~~~~~~~ Button Captions ~~~~~~~~ */

/* Concerns all captions under button icons in the nav bar */

.long_caption
{
  color: #6A7BCA;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;
}

.simple_caption
{
  color: #6A7BCA;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  text-align: center;
}


/* ========================== NAV BAR ======================== */

nav
{
  border-right: solid lightgrey 1px;
  display: table-cell;
  height: auto;
  min-width: 300px;
}


/* ====================== SUBMENU BODY ====================== */

/* Horizontal grey_border, doesn't concern arts submenu */
div[class~="grey_border"]
{
  border-bottom: solid lightgrey 1px;
}

/* Concerns daily_life and arts submenus, are collapsed by default */
div[class~="collapsed"]
{
  display: none;
}

nav div
{
  padding-bottom: 10px;
}

.submenu_row
{
  display: grid;
  grid-template-columns: 149px 150px;
  grid-template-rows: 100px;
  justify-content: center;
}


/* ===================== SUBMENU HEADER ===================== */

.submenu_header
{
  padding-left: 90px;
}

.submenu_header figcaption
{
  position: relative;
  left: -19px;
}

.submenu_header > figcaption
{
  color: #6A7BCA;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  padding-left: 10px;
}



/* ******************************************************************* */
/* /!\/!\/!\ SCOPE: SPECIFIC TO SOME SUBMENUS OF THE NAV BAR /!\/!\/!\ */
/* ******************************************************************* */


/* =================== SCIENCES SUBMENU =================== */

#sciences_caption
{
  padding-left: 12px;
}

/* ================== DAILY LIFE SUBMENU ================== */

#daily_life_caption
{
  position: relative;
  left: -40px;
}

/* ===================== ARTS SUBMENU ===================== */

#arts_caption
{
  padding-left: 25px;
}
