#primaryschool_submenu
{
  height: 200px;
  overflow-y: scroll;
}

.submenu
{
  justify-content: center;
}

/* .submenu_column
{
  padding: 0 50px;
} */

.submenu_column + .submenu_column
{
  border-left: 1px solid lightgrey;
}

.transition_submenu_titles
{
  color: #6A7BCA;
  text-align: center;
}
