#home_button
{
  padding-left: 15px;
}

.path_bar
{
  display: inline-block;
  border-bottom: 1px solid lightgrey;
  border-right: 0;
  width: 100%;
  height: 40px;
}

.path_bar_arrow
{
  display: inline-block;
}

.path_bar_button
{
  margin: 0 0 0 0;
  padding: 5px 0 5px 9px;
  height: 30px;
  width: 40px;
  display: inline-block;
}

.path_bar_icon
{
  width: 30px;
  height: auto;
}

.path_bar_iconless_button
{
  bottom: 7px;
  color: #6A7BCA;
  display: inline-block;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  height: 25px;
  padding: 0 8px;
  margin-right: 17px;
  position: relative;
  left: 10px;
  width: fit-content;
}
