/* ************************************************************* */
/* /!\/!\/!\ SCOPE: GLOBAL STRUCTURE OF THE STORYBOARD /!\/!\/!\ */
/* ************************************************************* */


/* ======================== STORYBOARD TITLE ======================== */

article h1, article h2
{
  color: #6A7BCA;
}


/* ======================= STORYBOARD CONTENT ======================= */

.storyboard
{
  width: 500px;
  height: auto;
  margin-left: 35%;
  background-color: white;
  border-radius: 25px;
  padding: 50px 50px 50px 50px;
}
